.meetup {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.meetup-outer {
box-shadow :   6px -1px 8px 1px #888888 ;
background : rgba(212, 202, 202, 0.404);
width  : 15%;
height: 65vh;
margin : 10px;
border-top-left-radius  : 25px;
border-top-right-radius : 25px;
}

.meetup-outer img{  
height:55%;
width: 100%;
object-fit: cover;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.meetup-info {
    text-align: center;
}

.title {
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center ;

}
.option button {
    padding: 10px;
    cursor : pointer;
    color:black;
    border: 1px solid black;
}

.option button:hover {
    padding: 15px;
    cursor : pointer;
    color:white;
    transform: scale(1.1);
    transition: transform 0.3s linear;
    background-color: rgb(59, 128, 231);
}

